<div class='header-container'>
	<nav class='row'>
		<ul>
			<li><a href="/">Top</a></li>
			<li><a href="/boards">Boards</a></li>
			<li><a href="/boards/random">Random</a></li>
			<li><a href="/">FAQ</a></li>
			<li><a href="/signup">Sign Up</a></li>
		</ul>
	</nav>
</div>