<div class='header-container'>
	<nav class='row'>
		<ul>
			<li><a href="/">Top</a></li>
			<li><a href="/board">Board</a></li>
			<li><a href="/">Recent</a></li>
			<li><a href="/">Random</a></li>
			<li><a href="/">FAQ</a></li>
		</ul>
	</nav>
</div>