<div class='header-container'>
	<nav class='row'>
		<div class="small-9 columns">
			<ul class='nav-links'>
				<li><a href="/">Top</a></li>
				<li><a href="/boards">Boards</a></li>
				<li><a href="/boards/random">Random</a></li>
				<li><a href="/faq">FAQ</a></li>
			</ul>
		</div>
		<div class="small-3 columns">
			<div class="row">
			<ul class='user-access'>
				<li class='signup-link'><a href="/signup">Sign Up</a></li>
				<li class="signin-link"><a href="/signin">Sign In</a></li>
				<li class='logout-link'><a href="/logout">Log Out</a></li>
				<li class='alias'></li>
			</ul>
			</div>
		</div>
	</nav>
</div>