* {
	/*color:black;*/
	/*border:solid black 1px;*/
}

html {
	min-height:100%;
}
nav ul {
	display:inline;
	list-style-type:none;
	font-size: 2em;
}
nav li {
	display:inline;
	margin: 20px 30px;
}

body {
	background: url('/imgs/Final_Fantasy_7.jpg');	
	background-size:cover;
	backgound-repeat:none;
	background-attachment:fixed;
	min-height:100%;
}

.container {
	padding-bottom: -2em;
	min-height:100%;
}
.header-container {
	text-align: center;
	background-color: rgba(96,110,221,.5);
	padding: 1%;
	margin-bottom: 20px;
	font-family: 'Titillium Web', sans-serif;
}

.header-container a {
	color: white;
}

footer p {
	color: white;
}

.footer-container {
	text-align:center;
	background-color: purple;
	width:100%;
	height:2em;
	position:relative;
	bottom:0;
}

p {
	margin: 0;
}

.vote-image {
	width:100%;
	height:100%;
}

.vote-container {
	text-align: center;
}

.comment {
	margin-bottom: 15px !important;
	background-color: rgba(200,200,200,1);
	box-shadow: 3px 3px 15px black;
	padding: .5em;
	border-radius: 5px;
}

.topbar {
	text-align: center;
	margin-bottom: 15px !important;
	background-color: rgba(200,200,200,1);
	box-shadow: 3px 3px 15px black;
	font-family: 'Titillium Web', sans-serif;
}


.posted-by {
	color:gray;
	font-size:.8em;
}

.section {
	margin-bottom: 5em;
	border-radius: 7px;
}

.cell {
	background-color: rgba(220,220,220,1);
	box-shadow: 0px 0px 30px white;
	padding:1em;
}
.description {
	font-size: .8em;
	color: black;
}

.site-name{
	text-shadow: 0 0 20px blue;
	color:white;
	font-family: 'Titillium Web', sans-serif;
}

.top {
	text-align:center;
	margin-bottom: 3em;

}

h3 {
	font-family: 'Titillium Web', sans-serif;
}

.subtext p {
	color:blue;
}

article, .map {
	text-align: center;
	margin: 0 auto;
}

.top-posts-link {
	color: navy;
}