<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FAQ</title>
	<% include partials/head %>
</head>
<body>
	<div class="container">
	<% include partials/header %>
	
	<div class="row">
		<div class="small-9 small-centered columns section cell">
			<ul>
				<li><h3>Q: What does the site name mean?</h3></li>
				<li>A: You know how the joke goes.</li>
				<br>
				<li><h3>Q: How do you post a comment/create a topic?</h3></li>
				<li>A: You must be logged in to post anything.</li>
				<br>
				<li><h3>Q: Geotagging isn't working!</h3></li>
				<li>A: Wait until the button says "Done!" before you create your comment/topic</li>
				<br>
				<li><h3>Q: But it takes so long!</h3></li>
				<li>A: Patience mf</li>
			</ul>
		</div>
	</div>

</div>
	<% include partials/footer %>
	</div>
</body>
</html>