<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>New Comment</title>
	<% include partials/head %>
</head>
<body>
	<% include partials/header %>
	
	<div class="container">
		<div class="row top">
			<h1>New Comment for /<%=topic_name%>/</h1>
		</div>

		<form action="<%=topic_path%>" method="POST">
			<div class="row section">
				<div class="small-12 columns">
					<div class="row">
						<label for="detail-input">Comment:</label>
						<textarea name="comment" id="detail-input" cols="30" rows="10" required></textarea>
					</div>

					<div class="row">
						<div class="small-9 columns">	
							<div class="row">
								<div class="small-4 columns">
									<label for="alias-input">Username</label>
									<input type="text" name='alias' placeholder='Username' id='alias-input' required>
								</div>
								<div class="small-4 columns end">
									<label for="pass-input">Password</label>
									<input type="password" name='pass' placeholder='Password' id='pass-input' required>
								</div>
							</div>						
						</div>
						<div class="small-3 columns">
							<button>Add Comment</button>
						</div>
					</div>
				</div>
			</div>
		</form>

		<div class="row">
			<div class="small-2 small-centered columns">
				
					<form action="<%=topic_path%>" method='GET'>
						<button>Back</button>
					</form>
				
			</div>
		</div>
	
	</div>

</body>
	<% include partials/footer %>
</html>

