<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>New Thread</title>
	<% include partials/head %>
</head>
<body>
	<% include partials/header %>
	
	<div class="container">
		<div class="row section">
			<h1>New Topic for /<%=path%>/</h1>
		</div>

		<form action="/boards/<%=path%>" method="POST">
			<div class="row section">
				<div class="small-12 columns">
					<div class="row">
						<label for="topic-input">Topic:</label>
						<input type="text" placeholder='Topic' name='topic' id='topic-input' required>
					</div>

					<div class="row">
						<label for="detail-input">Comment:</label>
						<textarea name="detail" id="detail-input" cols="30" rows="10"></textarea>
					</div>

					<div class="row">
						<div class="small-9 columns">
							
						</div>
						<div class="small-3 columns">
							<button>Create Thread</button>
						</div>
					</div>
				</div>
			</div>
		</form>



		<div class="row">
			<div class="small-2 small-centered columns">
				
					<form action="/boards/<%=path%>" method='GET'>
						<button>Back</button>
					</form>
				
			</div>
		</div>
	</div>
	

	<% include partials/footer %>
</body>
</html>