<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>New Thread</title>
	<% include partials/head %>
</head>
<body>
	<% include partials/header %>
	
	<div class="div row">
		<h1>New Topic for /<%=path%>/</h1>
	</div>
	<form action="/boards/<%=path%>" method="POST">
		<div class="row">
			<div class="row">
				<label for="topic-input">Topic:</label>
			</div>
			<div class="row">
				<input type="text" placeholder='Topic' name='topic' id='topic-input'>
			</div>
		</div>
		<div class="row">
			<div class="row">
				<label for="detail-input">Comment:</label>
			</div>
			<div class="row">
				<textarea name="detail" id="detail-input" cols="30" rows="10"></textarea>
			</div>
		</div>
		
		<div class="row">
			<div class="small-6 medium-9 columns">
				
			</div>
			<div class="small-6 medium-3 columns end">
				<button>Create Thread</button>
			</div>
		</div>
	</form>
	<div class="row">
		<div class="small-10 columns">
			
		</div>
		<div class="small-2 columns">
			<form action="/boards/<%=path%>" method='GET'>
				<button>Back</button>
			</form>
		</div>
	</div>

	<% include partials/footer %>
</body>
</html>